*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  background-color: hsl(212, 45%, 89%);
}
a {
  height: fit-content;
}
.attribution {
  position: absolute;
  top: 15px;
  width: 100%;
  text-align: center;
  height: fit-content;
}
.box {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}
.container {
  margin: auto;
  width: 320px;
  height: fit-content;
  padding: 15px;
  border-radius: 15px;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.07);
}
.image {
  width: 100%;
  border-radius: 10px;
}
.heading {
  margin: 15px;
  text-align: center;
  font-weight: 700;
  background-color: white;
  color: hsl(218, 44%, 22%);
  font-size: 20px;
}
.content {
  margin: 15px;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  background-color: white;
  color: hsl(218, 44%, 22%);
}
/* - White: hsl(0, 0%, 100%)
- Light gray: hsl(212, 45%, 89%);
- Grayish blue: hsl(220, 15%, 55%)
- Dark blue: hsl(218, 44%, 22%) */
